<footer class="footer fixed-bottom">
  <div class="f-info">
    <div class="f-brand">
      &copy; <i class="fa-solid fa-dog"></i> Abhi Rent-A-Vroom
    </div>
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-telegram"></i>
    </div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
